.social-footer {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 70px;
}

.social-links {
    /* height: 30px; */
}

.social-icon {
    height: 40px;
    padding-top: 15px;
    margin-right: 35px;
    margin-left: 35px;
    filter:contrast(0.7);
}

img:hover {
    filter:contrast(0.2);
    cursor: pointer;
}